.app {
  > * {
    max-width: 800px;
    margin-inline: auto;
  }
  > nav {
    background: rgb(246, 248, 186);
    padding-block: 1rem;
    > ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      > li {
        list-style: none;
      }
    }
  }

  > main {
    padding-block: 2rem;
  }
}
