nav {
    padding-block: 1rem;
    position: relative;
    > ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        > li {
            list-style: none;
        }
    }
}

nav::after {
    background: rgb(22 31 52);
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline: -2000px;
    z-index: -1;
    border-bottom: 3px solid white;
    /* box-shadow: 0px 7px 5px #767676; */
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;

    > .gap {
        flex-grow: 1;
        display: flex;
        align-items: end;
        font-size: x-large;
        line-height: 2rem;
        color: brown;
        font-weight: bolder;
    }
    /* > .gap:hover {
        border: rgb(22 31 52);
        transform: scale(1.1); */
    /* } */
    > ul {
        display: flex;
        flex-grow: 0;
        margin-top: auto;
        margin-bottom: 0;
    }
    & .active {
        background: white;
        color: rgb(114, 131, 58);
        border-radius: 4rem;
    }

    & a {
        padding-inline: 0.5rem;
        display: inline-block;
        transition: all 1s linear;
        font-size: small;
        color: brown;
    }
}

.logo {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.logo:hover {
    border: 2px solid rgb(114, 131, 58);
    transform: scale(1.3);
}
